{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
	{{ parent ()}}
	<link rel="stylesheet" href="{{ asset("assets/css/loginPage.css")}}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset ("assets/js/loginPage.js")}}" defer></script>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
{% endblock %}

{% block body %}

	<div class="login-container">
		<div class="login-form">
			<div class="login-form-inner">
				<form method="post">

					<div class="logo">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}
					</div>
					<h1>Login</h1>
					<p class="body-text">Welcome to serenityEstate login Page!</p>

					<div class="sign-in-seperator">
						<span>Sign in with Email</span>
					</div>

					<div class="login-form-group">
						<label for="email">Email
							<span class="required-star">*</span>
						</label>
						<input type="email" placeholder="email@website.com" id="email" value="{{ last_username }}" name="email" id="email" required autofocus>
					</div>
					<div class="login-form-group">
						<label for="pwd">Password
							<span class="required-star">*</span>
						</label>
						<input autocomplete="off" type="password" placeholder="Minimum 8 characters" id="pwd" name="password" autocomplete="current-password" required>
					</div>

					<div class="login-form-group single-row">
						<div class="custom-check">
							<input autocomplete="off" type="checkbox" checked id="remember">
							<label for="remember">Remember me</label>
						</div>

						<a href="{{ path('app_forgot_password_request') }}" class="link forgot-link">Forgot Password ?</a>
					</div>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button class="rounded-button login-cta" type="submit">Login</button>
				</form>
				<div class="register-div">Not registered yet?
					<a href="#" class="link create-account" -link>Contact Us</a>
				</div>
			</div>

		</div>
		<div class="onboarding">
			<div class="swiper-container ">
				<div class="swiper-wrapper">
					<div class="swiper-slide color-1">
						<div class="slide-image">
							<img src="https://cdn.pixabay.com/photo/2020/07/19/18/23/real-estate-5420920_1280.png" loading="lazy" alt=""/>
						</div>
						<div class="slide-content">
							<h2>Serenity Estate Agency</h2>
							<p>Find your Home.</p>
						</div>
					</div>

				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination "></div>
			</div>
		</div>
	</div>
{% endblock %}
