{% extends "base.html.twig" %}

{% block stylesheets %}
	{{parent ()}}
	<link rel="stylesheet" href="{{ asset("assets/css/propertyFormDetails.css")}}"/>
{% endblock %}

{% block body %}
	<!--=====heading======-->


	<!--=====form Container=======-->

		<div
		class="bodyContainer"> <!--form-->
		{{form_start(form)}}
		<div class="container" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
			<div class="flash-messages">
				{% set flashbag_notices = app.session.flashBag('info') %}
				{% for messages in app.session.flashBag.all()%}
					{% for message in messages %}
						<div class="alert alert-info" role="alert">
							{{ message }}
						</div>
					{% endfor %}
				{% endfor %}
			</div>
			<header>Add new Property</header>

			<section class="property-information">
				<div class="row mt-5">
					<div class="col-md-4">
						<div class="form-group mt-2">
							<label for="propertyType">Property Type</label>
							{{form_widget(form.propertyType ,{'label':'Property Type','required':true })}}
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							{{form_row(form.address.floorNumber ,{'label':'Floor', 'attr':{'placeholder':'Select floor number'},'required':true })}}
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							{{form_row(form.rooms ,{'label':'Number of rooms', 'attr':{'placeholder':'Select room numbers'},'required':true })}}
							{{form_errors(form.rooms)}}

						</div>
					</div>

				</div>
				<div class="row mt-3">
					<div class="col-md-4">
						<div class="form-group">
							{{form_row(form.area ,{'attr':{'placeholder':'Write area'},'required':true })}}
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							{{form_row(form.operation ,{'attr':{'placeholder':'Select operation'},'required':true })}}
						</div>
					</div>

					<div class="col-md-4">
						<div class="form-group">
							{{form_row(form.owner ,{'label':'Property owner', 'attr':{'placeholder':'Select floor number'},'required':true })}}
						</div>
					</div>
				</div>
			</section>

			<section class="address">
				<div class="row mt-3">

					<div class="col-md-3">
						<div class="form-group">
							<label for="address">Search for address</label>
							<div class="address-field autocomplete-container" id="street"></div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="address">Street</label>
							{{ form_widget(form.address.street, {'attr': {'placeholder':'Street'}}) }}
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="city">City</label>
							{{ form_widget(form.address.cityRegion.city, {'attr': { 'placeholder':'City'}}) }}
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="region">Region</label>
							{{ form_widget(form.address.cityRegion.region, {'attr': {'placeholder':'Region'}}) }}
						</div>
					</div>
				</div>
			</section>

			<section class="complement-information">
				<div class="row mt-3">
					<div class="col-md-6">
						<div class="form-group">
							<label for="description">Description</label>
							{{form_widget(form.description,{'required':true })}}

						</div>
					</div>

					<div class="col-md-3 ">
						<div class="form-group">
							{{form_row(form.price)}}
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							{{form_row(form.isAvailable)}}
						</div>
					</div>


				</div>
			</section>


			<div class="row mt-3 justify-content-center">
				<div class="col-md-2 ">
					{{form_row(form.Submit)}}
				</div>
				<div class="col-md-2">
					{{form_row(form.Reset)}}
				</div>
				{{form_end(form)}}
			</div>
		</div>
	</div>
{% endblock %}
