{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{parent ()}}
	<link rel="stylesheet" href="{{ asset("assets/css/propertyFormDetails.css")}}"/>
{% endblock %}

{% block javascripts %}
	{{parent ()}}
	<script src="{{ asset("assets/js/showPropertyModal.js")}}" defer></script>
{% endblock %}


{% block body %}
	<div
		class="bodyContainer flex-nowrap ">

		<!--Display One property-->
		<div class="container" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded ">
			<header>Details Property Reference :
				{{property.id}}</header>

			<section class="property-information">
				<div class="row mt-5">
					<div class="col-md-3">
						<div class="form-group">
							<label for="propertyType">Property Type</label>
							<div class="form-control disabled">{{property.propertyType}}</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="Floor">Floor</label>
							<div class="form-control">{{property.address.floorNumber}}</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="form-group">
							<label for="rooms">Number of rooms</label>
							<div class="form-control">{{property.rooms}}
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label for="area">Area (m²)</label>
							<div class="form-control">{{property.area}}
							</div>
						</div>
					</div>


					<div class="row mt-3">
						<div class="col-md-3">
							<div class="form-group">
								<label for="operation">Operation</label>
								<div class="form-control">{{property.operation}}
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="owner">Owner</label>
								<div class="form-control">{{property.owner}}
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="date">Created At</label>
								<div class="form-control">{{property.createdAt.format('d/m/Y H:i')}}
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="date">Updated At</label>
								<div class="form-control">{{property.updatedAt.format("d/m/Y H:i") }}</div>
							</div>
						</div>


					</div>
				</section>

				<section class="address">
					<div class="row mt-3">
						<div class="col-md-3">
							<div class="form-group">
								<label for="address">Street</label>
								<div class="form-control">{{property.address.street}}
								</div>

							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="city">City</label>
								<div class="form-control">{{property.address.cityRegion.city}}
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="region">Region</label>
								<div class="form-control">{{property.address.cityRegion.region}}
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="price">Price(€)</label>
								<div class="form-control">{{property.price}}
								</div>
							</div>
						</div>

					</div>
				</section>
				<section class=" complement-information">
					<div class="row mt-3">
						<div class="col-md-6">
							<div class="form-group">
								<label for="description">Description</label>
								<textarea class="form-control" row="2" readonly>{{property.description}}
								</textarea>
							</div>
						</div>

						<div class="col-md-3">
							<div class="form-group">
								<label for="price">Availability</label>
								{% if property.isAvailable is same as (0) %}
									<div class="form-control">No</div>
								{% else %}
									<div class="form-control">Yes</div>
								{% endif %}

							</div>
						</div>
					</div>
				</section>

				<!--=====Buttons for managing property Ads and Property pictures=====-->
				<div
					class="d-grid gap-2 mt-5 d-md-flex justify-content-md-center no-wrap">

					{# <button type="button" class="btn btn-success text-nowrap" data-bs-toggle="button" autocomplete="off">Edit Property</button> #}
					<a href="{{ path('edit_property',{'id': property.id}) }}" role="button" class="btn btn-success">
						<i class="fa fa-edit"></i>
						Edit Property</a>


					<!--===== Button to trigger the modal upload  property pictures =====-->
					<button type="button" class="btn btn-success text-nowrap" data-bs-toggle="modal" data-bs-target="#exampleModal" autocomplete="off" onclick="Init({{property.id}})">
						<i class="fa-solid fa-image"></i>
						Manage Pictures
					</button>

					<!--===== show add property ad button if it's not created it yet =====-->
					{% if (property.ad != null)  %}
						{{ render(controller('App\\Controller\\PropertyAdController::editPropertyAd', {id: property.ad.id} )) }}
					{% else %}
						{{ render(controller('App\\Controller\\PropertyAdController::addPropertyAd', {IdProperty: property.id} )) }}
					{% endif %}

					<a href="{{ path('app_property_list')}}" role="button" class="btn btn-success">Property listing</a>

				</div>
			</div>
		</div>
	</div>
	{% include 'Pages/property/uploadPicturesModal.html.twig' %}

{% endblock %}
