<!-- Button Add Property Ads HTML -->
<button type="button" class="btn btn-success text-nowrap" href="#editEmployeeModal" data-bs-toggle="modal" autocomplete="off" data-target="#editEmployeeModal">
	<i class="fa fa-edit"></i>
	<span>Edit Property Ad</span>
</button>


<!-- Add Property Ads Modal HTML -->
<div id="editEmployeeModal" class="modal fade">

	<div class="modal-dialog" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Edit Property Ad</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
			</div>

			{{form_start(edit_form)}}
			<div class="modal-body">
				<div class="form-group"></div>
				<div class="form-group">
					{{ form_widget(edit_form.propertyRef, { "attr": { "hidden" : true }}) }}
					{{ form_widget(edit_form.id, { "attr": { "hidden" : true }}) }}
				</div>
				<div class="form-group">
					{{ form_row(edit_form.title, { "label": "Title" }) }}
				</div>
				<div class="form-group">
					{{ form_row(edit_form.fees, { "label": "Fees(€)" }) }}
				</div>
				<div class="form-group">
					{{ form_row(edit_form.guarantee, { "label": "Guarantee(€)" }) }}
				</div>
				<div class="form-group">
					{{ form_row(edit_form.isActive, { "label": "is Active" }) }}
				</div>
			</div>

			<div class="modal-footer align-items-start">
				<button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				{{form_row(edit_form.Submit,{'attr':{'class':'btn btn-success'}})}}
			</div>
			{{form_end(edit_form)}}
		</div>
	</div>
</div>
