{% extends "base.html.twig" %}


{% block body %}
	{% for propertyAd in propertyAds %}
		<div>{{propertyAd.id}}</div>
		<div>{{propertyAd.propertyRef}}</div>
		<div>{{propertyAd.title}}</div>
		<div>{{propertyAd.isActive}}</div>
		<div>{{propertyAd.fees}}</div>
		<div>{{propertyAd.guarantee}}</div>


		<a href="{{path('delete_propertyAd',{id : propertyAd.id})}}" class="btn btn-warning">Remove propertyAd</a>

	{% endfor %}


{% endblock %}
